
terraform.tfstate.backup
terraform.tfstate
.terraform/providers/registry.terraform.io/hashicorp/aws/4.1.0/windows_amd64/terraform-provider-aws_v4.1.0_x5.exe
.terraform/modules/modules.json
.terraform.lock.hcl
.terraform.tfstate.lock.info
Itens.txt
.terraform/modules/network.vpc/README.md
.terraform/modules/network.vpc/network/vpc/vpc.tf
.terraform/modules/network.vpc/network/vpc/vars.tf
.terraform/modules/network.vpc/network/vpc/instructions.txt
.terraform/modules/network.vpc/network/subnet/vars.tf
.terraform/modules/network.vpc/network/subnet/subnet.tf
.terraform/modules/network.subnet/
.terraform/modules/network.vpc/AWS/network/vpc/vpc.tf
.terraform/modules/network.vpc/AWS/network/vpc/vars.tf
.terraform/modules/network.vpc/AWS/network/vpc/instructions.txt
.terraform/modules/network.vpc/AWS/network/subnet/vars.tf
.terraform/modules/network.vpc/AWS/network/subnet/subnet.tf
.terraform/modules/network.RouteTable/
.terraform/modules/network.vpc/AWS/network/routetable/routetable.tf
.terraform/modules/network.vpc/AWS/network/subnet/instructions.txt
.terraform/modules/network.PublicRouteTableAssociation/
.terraform/modules/network.vpc/AWS/network/routetable/instructions.txt
.terraform/modules/network.vpc/AWS/network/routetable/vars.tf
.terraform/modules/network.vpc/AWS/network/routetableassociation/routetableassociation.tf
.terraform/modules/network.vpc/AWS/network/routetableassociation/vars.tf
.terraform/